:root {
    --rtzu: rgb(255, 245, 229);
    --ghjk: rgb(68, 68, 68);
    --hjkl: rgb(46, 52, 58);
    --dfgh: rgb(132, 215, 111);
    --wert: rgb(46, 52, 58);
}

body {
    background-color: var(--wert);
    color: whitesmoke;
    margin: 0px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1 1 1;
    gap: 3px;
    margin: 3px;
    flex-wrap: wrap;
    width: calc(100vw - 6px);
    height: calc(100vh - 6px);
}

.box {
    text-align: center;
    align-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--rtzu);
    border-radius: 0px;
    font-size: 15rem;
    font-weight: bold;
    text-shadow: 
      2px 2px 0px var(--ghjk),   /* Shadow on the bottom right */
      -2px 2px 0px var(--ghjk),  /* Shadow on the bottom left */
      2px -2px 0px var(--ghjk),  /* Shadow on the top right */
      -2px -2px 0px var(--ghjk); /* Shadow on the top left */
    /*border: solid var(--hjkl) 10px;
    border-style: ridge;*/
    background-color: var(--dfgh);
}

.outlined-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 
      2px 2px 0px black,   /* Shadow on the bottom right */
      -2px 2px 0px black,  /* Shadow on the bottom left */
      2px -2px 0px black,  /* Shadow on the top right */
      -2px -2px 0px black; /* Shadow on the top left */
  }
  
