body {
    background-color: rgba(20, 7, 39, 1.0);
    font-family: monospace;
}

.select-app {
    padding: 0px 20px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(146, 214, 114);
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    border: 2px rgb(146, 214, 114) solid;

}

.select-app:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
    background-color: rgb(146, 214, 114);
    color: rgb(20, 7, 39);
}

.greeting-msg {
    margin-top: 100px;
    font-size: 30px;
    margin: auto;
}