@font-face {
    font-family: 'Ostrich-Sans';
    src: url('/ostrich-sans/ostrich-Bold.ttf') format('opentype');
    font-weight: 400;
    /* normal weight */
    font-style: normal;
}

body {
    margin: 100px;
    height: 100vh;
    font-family: 'Ostrich-Sans', sans-serif;
    background: linear-gradient(0deg, rgba(13, 79, 75, 1) 0%, rgb(6, 20, 49) 100%);
}

#spacer {
    display: flex;
    flex-wrap: wrap;
    font-weight: 100;
    font-size: 100px;
    color: rgb(190, 190, 190);
}

#container {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    align-items: center;
    gap: 10px;
}

.select-app {
    transition-duration: 800ms;
    height: fit-content;
    width: 160px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    color: #6abcff;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 1px 1px 10px rgba(48, 45, 40, 0.4);
    background-color: rgba(255, 255, 255, 0.062);
    border: solid 1px #6abcff;
    overflow: visible;
}

.select-app:hover {
    /*box-shadow: 2px 2px 15px rgb(54, 68, 129);*/
    /*transform: scaleX(1.1);*/
    transition-duration: 200ms;
    /*transform: rotate(90deg);*/

    background-color: #6abcff5e;

}

.greeting-msg {
    margin-top: 100px;
    font-size: 30px;
    margin: auto;
}