@font-face {
  font-family: 'Ostrich-Sans';
  src: url('/ostrich-sans/ostrich-Bold.ttf') format('opentype');
  font-weight: 400; /* normal weight */
  font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Ostrich-Sans', sans-serif;
    background: linear-gradient(0deg,rgb(99, 201, 121) 0%, rgb(5, 18, 54) 100%);
}

.select-app {
    height: 30px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px;
    color: rgb(231, 244, 255);
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 1px 1px 10px rgba(21, 70, 67, 1.0);
    border: 1px rgb(192, 207, 219) solid;
    background-color: rgb(66, 89, 189) 100%;
}

.select-app:hover {
    /*box-shadow: 2px 2px 15px rgb(54, 68, 129);*/
    background-color: rgba(199, 199, 199, 0.9);
    color: rgba(19, 29, 94, 1.0);
    /*transform: scaleX(1.1);*/
    transition-duration: 200ms;
}

.greeting-msg {
    margin-top: 100px;
    font-size: 30px;
    margin: auto;
}